/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* BODY */

body{
    margin: 36px 50px 0 50px;
    max-width: 1440px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

ul{    
    list-style: none;
}

h1, h2, h3, h4{
    font-size: 1.2rem;
    font-weight: 800;
}

p, li{
    font-size: 0.8rem;
    font-weight: 500;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

#logo{
    width: 94px;
}

/* NAV */

nav ul{
    display: flex;
}

.nav__options{
    text-decoration: none;
    color: black;
    padding-left: 35px;
    padding-right: 35px;
}

.nav__options:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 50px; 
    font-weight: 600;  
}

#nav__subscribe{
   color: #0065FC;
   font-weight: bold;
   margin-right: 30px;
}

/* MAIN */

/* SEARCH */

h1{
    margin: 0;
}

h1 + p{
    margin: 7px 0 23px 0;
}

#search{
    display: flex;
    margin-top: 23px;
}

#search__ico{
    background-color: #F2F2F2;    
    padding: 17px 19px;
    border-radius: 20px 0 0 20px;
    font-size: 18px;
    color: black;
}

#search__txt{
    border: 1px solid #F2F2F2;
    font-weight: 800;
    font-size: 1.2rem;
    padding-left: 18px;
    font-family: 'Raleway', sans-serif;
  }

#search__txt:focus-visible{
    outline: none;
}

#search__btn{
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0 18px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

/* FILTERS */

 #filters{
     display: flex;
     padding: 0;
     margin: 0;
 }

 .filters__li{
     margin: 30px 15px 0 0;
     display: flex;
     height: 54px;
 }

 .filters__li a{
     display: flex;
     text-decoration: none;
     color: black;
     border: 2px solid #F2F2F2;
     border-radius: 30px;
     align-items: center;
 }

 .filters__li a i{
     width: 50px;
     height: 50px;
     background-color: #DEEBFF;
     border-radius: 50%;
     color: #0065FC;
     margin-left: -2px;      
     text-align: center;
    }

 .filters__li a h4{
    padding-left: 13px;
    padding-right: 22px;
    margin: 0;
 }

 #filters-info{
     display: flex;
     align-items: center;
 }

 #filters-info i{
     height: 24px;
     width: 24px;
     margin-right: 12px;
     border: 2px solid #F2F2F2;
     border-radius: 50%;
     text-align: center;
     color: #0065FC;
 }

 /* RESULTS */

 
     