/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* BODY */

body{
    margin: 36px 50px 0 50px;
    max-width: 1440px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

ul{    
    list-style: none;
}

h1, h2, h3, h4{
    font-size: 1.2rem;
    font-weight: 800;
}

p, li{
    font-size: 0.8rem;
    font-weight: 500;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

#logo{
    width: 94px;
}

/* NAV */

nav ul{
    display: flex;
    flex-wrap: wrap;
}

.nav__options{
    text-decoration: none;
    color: black;
    padding-left: 35px;
    padding-right: 35px;
}

.nav__options:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 50px; 
    font-weight: 600;  
}

nav ul #nav__subscribe{
   color: #0065FC;
   font-weight: bold;
   margin-right: 30px;
}

/* MAIN */

/* SEARCH */

h1{
    margin: 0;
}

h1 + p{
    margin: 7px 0 23px 0;
}

#search{
    display: flex;
    margin-top: 23px;
}

#search__ico{
    background-color: #F2F2F2;    
    padding: 17px 19px;
    border-radius: 20px 0 0 20px;
    font-size: 18px;
    color: black;
}

#search__txt{
    border: 1px solid #F2F2F2;
    font-weight: 800;
    font-size: 1.2rem;
    padding-left: 18px;
    font-family: 'Raleway', sans-serif;
}

#search__txt:focus-visible{
    outline: none;
}

#search__btn{
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0 18px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

/* FILTERS */

#filters{
     display: flex;
     padding: 0;
     margin: 0;
     flex-wrap: wrap;
}

.filters__li{
     margin: 30px 15px 0 0;
     display: flex;
     height: 54px;
}

.filters__li h4{
    align-self: center;
}

.filters__li a{
     display: flex;
     text-decoration: none;
     color: black;
     border-bottom: 2px solid #F2F2F2;
     border-right: 2px solid #F2F2F2;
     border-top: 2px solid #F2F2F2;
     border-radius: 30px;
     align-items: center;
}

.filters__li a div{
     display: flex;
     width: 50px;
     height: 50px;
     background-color:  #DEEBFF;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     color: #0065FC;

}

.filters__li a div i{
    font-size: 1.2rem;
}

.filters__li a h4{
    padding-left: 13px;
    padding-right: 22px;
    margin: 0;
}

#filters-info{
     display: flex;
     align-items: center;
     margin: 0;
}

#filters-info i{
     height: 24px;
     width: 24px;
     margin-right: 12px;
     border: 2px solid #F2F2F2;
     border-radius: 50%;
     text-align: center;
     color: #0065FC;
}

/* RESULTS */

#results{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* SEARCH RESULTS */

#results section{
     background-color: #F2F2F2;
     max-width: 880px;
     height: fit-content;
     margin: 40px 40px 0 0;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
}

#results section h2{
     margin: 45px 0 0 40px;
}

#search-results{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 28px 40px 15px 40px;
    justify-content: space-between;
    object-fit: contain;
}

.search-results-cards{
    padding: 5px;
    width: 246px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    box-shadow: -1px 1px 5px 1px rgba(131, 125, 125, 0.75);
}

.search-results-cards:hover{
    box-shadow: 5px 5px 5px 5px #0065fc62;
}

.search-results-cards img{
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.search-results-cards h3{
    margin: 10px 0 10px 15px;
}

.search-results-cards p{
    margin: 0 0 0 15px;
}

.search-results-cards div{
    margin: 10px 0 10px 15px;
}

.search-results-cards i{
    color: #0065FC;
}

.search-results-cards span i{
    color:#F2F2F2;
}

#results section h4{
    margin: 0 0 45px 40px;
}

 /* POPULAR RESULTS */

 #popular-results{
    background-color: #F2F2F2;
    margin-left: 20px;
    width: 420px;
    height: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#popular-results-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 45px 40px 28px 40px;
}

#popular-results-title h2{
    margin: 0;
}

#popular-results-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.popular-results-cards{
    padding: 5px;
    width: 343px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: -1px 1px 5px 1px rgba(131, 125, 125, 0.75);
    margin-bottom: 33px;
}

.popular-results-cards img{
    width: 127px;
    height: 134px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}