/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* BODY */

*{
    font-family: 'Raleway', sans-serif;
}

body{
    max-width: 1440px;
    margin: auto;
}

ul{    
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h2{    
    font-size: 1.375rem;
    font-weight: 800;
}

h3{    
    font-size: 1rem;
    font-weight: 800;
}

img{
    object-fit: cover;
}

/* HEADER */

header{
    max-width: 1440px;
    margin: 37px 50px 50px 50px;
}

/* NAV */

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

#nav__logo{
    flex-grow: 1;
}

#nav__logo img{
    width: 96.25px;
    height: 45px;
}


.nav__options{
    padding-left: 35px;
    padding-right: 35px;
}

.nav__options:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 50px; 
    font-weight: 600;  
}

#nav__options--blue{
   color: #0065FC;
   font-weight: bold;
}

/* MAIN */

main{
    margin: 0 50px;
    max-width: 1440px;
}


/* SEARCH */

h1{
    margin: 0;
    font-size: 1.344rem;
}

h1 + p{
    margin: 16px 0 20px 0;
}

#search{
    display: flex;
}

#search__ico{
    width: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: black;
    background-color: #F2F2F2;    
    border-radius: 15px 0 0 15px;
}

#search__txt{
    width: 100%;
    max-width: 209px;
    padding-left: 18px;
    font-weight: 800;
    font-size: 18px;
    border: 1px solid #F2F2F2;
}

#search__txt:focus-visible{
    outline: none;
}

#search__txt::placeholder{
    color: #d9d9d9;
}

#search__btn{
    padding: 0 18px;
    font-weight: 600;
    font-size: 18px;    
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;    
    cursor: pointer;
}

/* FILTERS */

#filters{
    display: flex;     
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 40px;
}

.filters__li{
    display: flex;
    height: 50px;
    margin: 30px 24px 0 0;
    font-size: 1.125rem;
}

.filters__li h4{
    align-self: center;
    margin: 8px;
}

.filters__li a{
     display: flex;
     align-items: center;
     color: black;
     border: 2px solid #d9d9d9;
     border-radius: 30px;
}

.filters__li a:hover{
    background-color: #0065FC;
    border-color: #0065FC;
    color: white;
}

.filters__li a i{
     display: flex;     
     justify-content: center;
     align-items: center;
     min-width: 50px;
     min-height: 50px;     
     margin: -3px;
     background-color:  #DEEBFF;
     color: #0065FC;     
     border-radius: 50%;
}

.filters__li a h4{
    padding-left: 13px;
    padding-right: 22px;
    margin: 0;
}

#filters-info{
    display: flex;
    align-items: center;
    margin: 0;
}

#filters-info i{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    min-width: 24px;
    margin-right: 12px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}

/* RESULTS */

#results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SEARCH RESULTS */

#results section{
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    margin: 40px 40px 0 0;
    padding: 0 10px 0 40px;
    background-color: #F2F2F2;
    border-radius: 25px;  
}

#results section h2{
    margin: 45px 0 20px 0;
}

#search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.search-results-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 200px;
    width: 28%;
    margin: 0 30px 30px 0;
    padding: 5px;
    background-color: white;
    border-radius: 25px;
    box-shadow:0 0 10px rgba(168, 162, 162, 0.75);
}

.search-results-cards img{
    width: 100%;
    height: 57%;
    border-radius: 20px 20px 0 0;
}

.search-results-cards h3{
    margin: 10px 0 10px 15px;
}

.search-results-cards p{    
    flex-grow: 1;
    margin:0 0 0 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

.search-results-cards p span{
    font-weight: bold;
}

.search-results-cards div{
    display: flex; 
    margin: 0 0 5px 15px;  
}

.search-results-cards i{
    font-size: 0.8rem;
    color: #0065FC;
}

.search-results-cards span i{
    display: flex;
    color: #d9d9d9;
}

#results section h4{
    margin: 10px 0 45px 0;
    font-size: 1.250rem;
}

 /* POPULAR RESULTS */

 #popular-results{
    display: flex;
    flex-flow: column wrap;
    width: 25.4%;
    margin-top: 40px;
    padding: 0 40px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

#popular-results-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 45px 0 25px 0;
}

#popular-results-title h2{
    margin: 0;
}

#popular-results-list{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 85%;
}

.popular-results-cards{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 135px;
    margin-bottom: 33px;
    padding: 5px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(168, 162, 162, 0.75);
}

.popular-results-cards img{
    min-width: 40%;
    width: 29%;
    border-radius: 20px 0 0 20px;
}

.popular-results-cards-infos{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    margin: 0 20px;
}

.popular-results-cards h3{
    margin: 15px 0 0 0;
}

.popular-results-cards p{
    margin: 10px 0 0 0;
    font-size: 0.875rem;
    font-weight: 500;
}

.popular-results-cards p span{
    font-weight: bold;
}

.popular-results-cards div div{
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    margin-bottom: 10px;
}

.popular-results-cards i{
    color: #0065FC;
    font-size: 0.75rem;
}

.popular-results-cards span i{
    display: flex;
    color:#d9d9d9;
}

/* ACTIVITIES */

#activities{
    display: flex;
    flex-direction: column;    
    padding-top: 60px;
}

#activities img{
    vertical-align: bottom;
    width: 100%;
    border-radius: 25px 25px 0 0;
}

#activities h2{
    margin: 0;
}

#activities h3{
    padding: 20px;
    margin: 0;
}

#activities-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.activities-cards-block1, .activities-cards-block2, .activities-cards-block3{
    flex-grow: 1;
    flex-basis: 200px;
    margin: 25px 45px 20px 0;
}

.activities-cards-block4{
    flex-grow: 1;
    flex-basis: 200px;
    margin: 25px 0 20px 0;
}

.activities-cards{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(168, 162, 162, 0.75);
    border-radius: 25px;
}

.activities-cards-XL{
    height: 445px;
}

.activities-cards-XL img{
    height: 87.6%;
}

.activities-cards-L{
    height: 235px;
    margin-bottom: 45px;
}

.activities-cards-L img{
    height: 76.6%;
}

.activities-cards-XS{
    height: 165px;
}

.activities-cards-XS img{
    height: 66.7%;
}

.activities-cards-S{
    height: 195px;
    margin-bottom: 45px;
}

.activities-cards-S img{
    height: 71.8%;
}

.activities-cards-M{
    height: 205px;
}

.activities-cards-M img{
    height: 73.2%;
}

/* FOOTER */

footer{
    display: flex;
    margin-top: 40px;
    padding: 50px 0 0 50px;
    background-color: #F2F2F2;
}

footer div{
    width: 33.3333%;
}

footer ul{
    padding-left: 0;
}

footer div a{
    line-height: 30px;
    font-size: 0.9rem;
}

/* MEDIA QUERIES */

/* PHONE */

@media screen and (max-device-width : 768px) {

    header{
        margin: 20px 0 0 0;
    }

    main{
        margin: 35px 0px;
    }

    .nav__options{
        display: block;
        height: 100%;  
        margin: auto;
        padding: 0;      
    }  

    .nav__options:hover{        
        padding-top: 0;
        border-top: none;        
    }
    
    #nav__logo{
        order: 1;
        padding-left: 20px;
    }

    #nav__hostings{
        order: 3;
        width: 50%;
        line-height: 45px;
        margin-top: 15px;
        text-align: center;
        border-bottom: solid 3px #F2F2F2;
    }

    #nav__activities{
        order: 4;
        width: 50%;
        line-height: 45px;
        margin-top: 15px;
        text-align: center;
        border-bottom: solid 3px #F2F2F2;
    }
    
    #nav__activities:hover, #nav__hostings:hover{
        border-bottom: solid 3px #0065FC;
    }

    #nav__signup{
        order: 2;
        width: 33%;
        line-height: 45px;
        padding-right: 20px;
        text-align: right;
    }

    #nav__signup:hover{        
        border-top: solid 3px #0065FC;
    }
    
    #search__btn{
        width: 50px;
        height: 50px;
        font-size: 0;
        margin-left: -15px;
        border-radius: 15px;
        background: center/35% no-repeat url("../images/logo/search-solid.png"), #0065FC;
    }

    main section, #popular-results, #results section{
        padding: 0 20px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0%;
    }

    #results section{
        margin-top: 0;
        background-color: white;
    }

    #search-results{
        padding: 0;
    }

    .search-results-cards{
        margin-right: 0;
        height: 190px;
    }

    .search-results-cards img {
        height: 57%;
    }

    .popular-results-cards{
        height: 135px;
    }

    .popular-results-cards img{        
        min-width: 39%;
     }
    
    #activities{
        padding-top: 15px;
    }

    .activities-cards{
        height: 190px;
    }

    .activities-cards img{
        height: 70.5%;
    }

    footer{
        flex-direction: column;
        padding-left: 20px;
    }

    footer div{
        width: 100%;
    }
}

/* TABLET */

@media screen and (min-device-width : 769px) and (max-device-width: 1024px) {

    #results{
        flex-direction: column-reverse;
    }

    #results section{
        margin-right: 0;
        padding-right: 40px;
    }

    .search-results-cards{
        height: 300px;
        min-width: 80%;
        margin-right: 0;
    }

    .search-results-cards img{
        height: 70%;
    }
    
    #popular-results{
        width: auto;
    }

    .popular-results-cards{
        height: 200px;
    }

    .popular-results-cards img{        
        min-width: 70%;
    }

    #activities-list{
        flex-direction: column;
    }

    .activities-cards-block1, .activities-cards-block3{
        margin-right: 0;
    }

    .activities-cards-block2, .activities-cards-block4{
        flex-grow: 2;
        margin-right: 0;
    }

    .activities-cards{
        height: 300px;
    }

    .activities-cards img{
        height: 82%;
    }
}